.container-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(143, 202, 170, 0.89);
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
}

.container-nav ul {
    display: flex;
    justify-content: right;  
}

.container-nav ul li {
    padding: 3%;
    font-size: 100%;
}

.container-nav ul li a {
    color: rgb(33, 32, 32);
}

.name {
    font-weight: bold;
}